# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# SQLite database
*.db
*.sqlite
*.sqlite3

# Upload files
maintenance_backend/uploads/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Android / Gradle
.gradle/
android/.gradle/
android/app/build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db